In [2]:
import mysql.connector

In [3]:
mydb=mysql.connector.connect(
host='localhost',
user="root",
port='3307',
passwd=""
)
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001B17705B800>

In [4]:
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE authorised_user")

DatabaseError: 1007 (HY000): Can't create database 'authorised_user'; database exists

In [5]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('authorised_user',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [6]:
mycursor.execute("drop database hello")

DatabaseError: 1008 (HY000): Can't drop database 'hello'; database doesn't exist

In [9]:
mydb=mysql.connector.connect(
host='localhost',
port='3307',
user="root",
passwd="",
database="Authorised_user"
)
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE my_table (id INT PRIMARY KEY, Name VARCHAR(50), Age INT, Address VARCHAR(50))")

ProgrammingError: 1050 (42S01): Table 'my_table' already exists

In [10]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('my_table',)